<ion-header>
  <ion-toolbar>
    <ion-title>
      Metricas de Halstead
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/images/analiza.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Ricardo Manuel Perez</ion-card-subtitle>
        <ion-card-title>Las metricas de halstead</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Las métricas de Complejidad de Halstead fueron desarrolladas por Maurice Halstead como un medio de determinar la complejidad cuantitativa directamente de los operadores y operandos usados en el código fuente de un módulo.</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
  <ion-item>
    <ion-label>Halstead definió los siguientes números:</ion-label>
  </ion-item>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label>El número de operadores distintos(n1)</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>El número de operandos  distintos(n2)</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>El número total de operadores(N1).</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>El número total de operandos(N2).</ion-label>
      </ion-item>
    </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-content>
    <!-- fab placed to the top end -->
  <ion-button size="small" expand="block" shape="round" (click)="select()">Nuevo</ion-button>
    <br>
  <br>
  <ion-list>
    <ion-item>
        <ion-label>n1 =  {{n1}}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>n2 =  {{n2}}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>N1 =  {{N1}}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>N2 =  {{N2}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>N =  {{N}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>n = {{n}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>V = {{V}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>D = {{D}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>L =  {{L}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>E =  {{E}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>T =  {{T}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

